body {

}


canvas {
    border: 5px solid #2E3547;
}

* {
    margin: 0;
    padding: 0; box-sizing: border-box;
}



#drawing-options {
    width: 250px; 
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(46, 53, 71, 0.5);
    border: 3px solid #f2cc10;
    color: #fff;
    padding: 10px;

    button {
        padding: 5px;
        margin: 5px 0;
    }

    select {
        padding: 5px;
    }
}
