<!DOCTYPE html>
<html>
    <head>
        <title>Dolphin Of The Day</title>
        <meta charset="utf-8">
        <link href="/css/font-awesome.min..css" rel="stylesheet" type="text/css"/>
        <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
        <script src="/js/fabric.min.js"></script>
        <script src="/js/moment.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/state.js"></script>
        <script src="/js/dotd.js"></script>
    </head>

    <body>
        {{{body}}}
    </body>
</html>
