<!DOCTYPE html>
<html>
    <head>
        <title>Dolphin Of The Day</title>
        <meta charset="utf-8">
        <link href="/styles.css" rel="stylesheet" type="text/css"/>
        <script src="/fabric.min.js"></script>
        <script src="/moment.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/state.js"></script>
        <script src="/dotd.js"></script>
    </head>

    <body>
        {{{body}}}
    </body>
</html>
