<canvas id="c" width="1900" height="1080"></canvas>
<div id="dolphin-day"></div>

<div id="drawing-options">
    <button id="drawing-mode" class="btn btn-info">Edit scene</button><br>

    <div id="drawing-mode-options">
        <label for="drawing-mode-selector">Brush Type</label>
        <select id="drawing-mode-selector">
            <option value="pencil">Pencil</option>
            <option value="circle">Circle</option>
            <option value="spray">Spray (DB-Intensive)</option>
            <option value="hline">Horizontal lines</option>
            <option value="vline">Vertical lines</option>
            <option value="square">Squares</option>
            <option value="diamond">Diamonds</option>
        </select>

        <label for="drawing-line-width">Brush Width</label>
        <span id="drawing-line-width-info">3</span>
        <input type="range" value="3" min="0" max="150" id="drawing-line-width"><br/>

        <label for="drawing-color">Brush Color</label>
        <input type="color" id="drawing-color"><br>
    </div>

    <div id="edit-mode-options">
        <button id="clear-canvas" class="btn warning">Clear Canvas</button><br>
    </div>
</div>
